*~
*.gem
*.rbc
.bundle
.config
.env
.jbundler
.rspec
.ruby-version
.ruby-gemset
coverage
Gemfile.lock
InstalledFiles
/vendor/bundle
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD artifacts
.yardoc
_yardoc
doc/
